env:
  chromosomes_dir: Data/chromosomes
  query_fastq_dir: Data/chromosome_reads_full
  
  gdiet_executable: GDiet-ShortReads/GDiet
  
  pattern_length: 6
  
  # GDiet parameters
  k_size: 21
  window_size: 11
  threads: 4
  max_seeds: 2
  secondary: 1
  bandwidth: "0.05,150,200"
  min_cnt: "0.95,0.3"
  min_score: 100
  af_max_loc: 2
  
  runtime_weight: -7.0
  runtime_normalization_factor: 2.0
  mapping_rate_weight: 6.0
  alignment_score_weight: 0.0
  edit_distance_weight: -0.1
  edit_distance_soft_cap: 6.0
  edit_distance_high_threshold: 6.0
  edit_distance_high_penalty_multiplier: 1.0
  edit_distance_hard_threshold: 15.0
  edit_distance_hard_penalty: -1.0
  edit_distance_critical_threshold: 11.0
  edit_distance_critical_penalty_multiplier: 5.0
  snp_count_weight: 0.0
  indel_count_weight: 0.0
  total_variants_weight: 0.0
  min_mapping_rate_threshold: 0.75
  mapping_rate_hard_threshold: 0.90
  mapping_rate_hard_penalty: -4.0
  normalize_weights: true
  small_dataset_runtime_weight_multiplier: 0.3
  small_dataset_accuracy_weight_multiplier: 1.5
  small_dataset_threshold: 0.01
  
  output_dir: rl/outputs
  
  use_truth_metrics: true
  truth_vcf: Data/truth_data/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz
  true_snps_tp_weight: 0.0
  true_indels_tp_weight: 0.2
  f1_score_weight: 0.12
  false_positives_penalty: -0.15

train:
  algorithm: PPO
  timesteps: 200
  save_path: rl/models/ppo_genome_diet

